* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(46, 46, 46);
    font-family: 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 50% 0;
    width: 300px;
    height: 300px;
    box-shadow: 1px 1px 5px rgb(0, 110, 255);
}

.container h1 {
    font-size: 25px;
    padding: 10px;
}

.form {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
}

.form-input {
    margin: 10px;
    height: 40px;
}

input {
    text-align: center;
    height: 100%;
    border: none;
    border-bottom: solid 1px rgb(177, 177, 177);
    padding: 10px;
}

.entrar {
    width: 175px;
}

.btn-entrar {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    font-family: 'Trebuchet MS', sans-serif;
}

.btn-entrar:hover {
    background-color: rgb(22, 22, 22);
    color: #fff;
    cursor: pointer;
}

.lembrar {
    display: flex;
    align-items: center;
}

.lembrar label {
    margin-left: 5px;
}